.header{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    height: 300px;
    width: 100%;
    border: 1px solid white;
}